* {
    margin : 0%;
    padding: 0%;
    box-sizing: border-box;
}

.fa-bars{
    display: none;
}

@font-face {
    font-family: libra;
    src: url(./fonrts/Libre_Baskerville\,Poppins/ );
}



/* navbar start  */


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}


.navlinks ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 50px;
    align-items: center;
    text-transform: uppercase;
    font-family: libra;
}


.navlinks ul a{
    text-transform: uppercase;
}


.hdr-btn {
    padding: 12px 25px;
    background-color: rgb(250 89 89 );
    border-radius:5px;
    border: none;
    font-family: libra;
}

/* navbar end  */

/* hero section start */


.hero{
     width: 100%;
     display: flex;
     gap: 70px;
     justify-content: center;
     align-items: center;
     padding-top: 30px;
     padding-bottom:70px ;
}


.hero-content{
    width: 38%;
     display: flex;
     flex-direction: column;
     gap: 20px;
     text-align: left;
     justify-content: center;
     font-family: libra;
}


.hero-img{
    width: 38%;
    position: relative;
}

.hero-img img{
    width: 100%;
}


.rectngle{
    width: 50%;
    background-color:rgb(82 103 223 ) ;
    height: 20rem;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    position: absolute;
    right: 0%;
    bottom:50px;
    z-index: -1;
    display: block;
}

.hero-h2{
          font-size: 20px;
   
}

#hero2h{
font-size:30px;
}

.hero-p{
    /* padding-right: 60px; */
    font-size: 20px;
}


.hero-btn button{
    padding: 12px 25px;
    color: black;
   border: none;
   border-radius:5px ;
   font-weight: 100px;
   font-style: normal;
   font-display: swap;
   box-shadow:2px  #ced2d6;
   text-transform: capitalize;
   font-family: libra;
   font-size: 20px;
}

.btn-1{
        background-color: rgb(82 103 223 );
        margin-right: 10px;
}

.btn-2{
   background-color:#e5e7eb;

}

.btn-2:hover{
       background-color: rgb(82 103 223);
           color: black;
    transform: scale(1.1);

}

.btn-1:hover{
    background-color: #e5e7eb;
    color: black;
    transform: scale(1.1);

}

/* features secion start */


.mainbox{
    display: flex;
     flex-direction: column; 
     gap: 20px;
     background-color: rgb(247 247 247 );
     margin-top: 150px;

}


.features {
 text-align: center;
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 50px;
 font-family: libra;
 font-size: 20px;
 background-color: rgb(247 247 247 );
}


.features-p{
    padding: 0px 330px;
    font-size: 20px;
}


/* hero section start */




#features-1{
    flex-direction: row-reverse;
    display: flex;
    gap: 80px;
    background-color: rgb(247 247 247 );
    padding-right: 50px;

}


#features-2{
    padding:80px ;
    gap: 80px;
    background-color: rgb(247 247 247 );
    padding-right: 50px;
}




#features-3{
    flex-direction: row-reverse;
    display: flex;
    gap: 80px;
    background-color: rgb(247 247 247 );
    padding-right: 50px;
}
/*     
.rectngle2 {
    width: 50%;
    background-color:rgb(82 103 223 ) ;
    height: 20rem;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    position: absolute;
    left: 0%;
    bottom:50px;
    z-index: -1;  
} */


/* section 2 end */

/* cart section start */

 .cart-1{
   justify-content: center;
   align-items: center;
   padding: 20px 300px;
   text-align: center;
   font-family:libra ;
   font-size:20px;
}
  
.cart-1 cart-content {
     font-family:libra ;
   font-size:20px;
}
.cart-content h2{
    padding-top:35px;
    padding-bottom:35px;
}

.cart-2{
    display:flex;
    flex-direction: row;
    font-family:libra;
    gap:30px;
    margin: 40px 60px;
    justify-content: center;
    text-align: center;
}

.cart{
    width:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px; 
    gap: 10px;
    font-family:libra ;
    font-size:15px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
     box-shadow: 0px 4px 10px gray;
     border-radius: 10px;
}

.img img{
    width:90%;
    padding:40px;
}

.cart p{
    font-family: 11px;
}


.cart button{
    background-color: rgb(82 103 223 );
    padding: 13px 40px;
    border: none;
   border-radius:5px;
   text-transform: capitalize;
   font-family: libra;
   font-size:15px;
}

.cart button:hover {
    background-color: #e5e7eb;
    color: black;
    transform: scale(1.1);

}

.cartbox2{
    align-self: flex-start;
}

.cartbox1{
   align-self: center;
}
.cartbox3{
    align-self:  flex-end;
}


/* cart section ens */



                           /* media queries start */     

                        /* this media qurey for the mobile */



 @media screen and (min-width:0px) and (max-width:480px) {
    .fa-bars{
        display: block;
    }

    header{
        justify-content: space-between;
        padding: 10px 30px;
        width: 100%;
    }
    .navlinks{
        display: none;
    }
  
    .hdr-btn{
        display: block;
        gap: 12px;
        margin: 10px;
    }
        .hero{
            padding: 20px 30px;
        flex-direction: column-reverse;
    }
    .hero .hero-content .hero-h2{
    font-size: 8px;
    text-align: center;
    width: 100%;
    padding-top: 0px;
    }
    .hero .hero-img{
        width:90%;
    }
        .hero-h2{
        font-size: 100px;
        } 
    .hero .hero-content .hero-h2{
      font-size:18px;
    }
    .hero .hero-content{
        width: 100%;
        padding: 0%;
    }
     .hero .hero-content .hero-p{
        font-size:20px;
     }
 .features-p{
    font-size:20px;
    text-align: center;
    width: 100%;
    /* padding: 10px; */
    padding-top: 0px 0px;
   }
   .hero-h2{
    font-size:10px;
    text-align: center;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    }
    .rectngle{
        display: none;
    }  
    .hero-btn button{
        padding: 10px 15px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    } 
  #features-1{
     width: 100%;
    flex-direction: column-reverse;
  } 

#features-1{
    flex-direction: column-reverse;
    display: flex;
    gap:0px;
}
   #features-2{
    width: 100%;
    flex-direction: column-reverse;
    gap:0;
  }
   #features-3{
    width: 100%;
    flex-direction: column-reverse;
    gap:0%;
  }
#hero2h{
font-size:15px;
}
  .hero-h2{
    font-size:15px;
          
}
.hero-p{
    text-align: center;
    font-size: 30px;
    padding:10px;
}
.hero{
     align-items: center;
     padding-top:20px;
     padding-bottom:10px;
     gap:30px;
}
.hero-btn button{
  align-items: center;
}
.btn-1{
    margin-bottom:20px;
}
.hero-content{
    align-items: center;
     gap:10px;
}
.mainbox{
     gap:10px;
     margin-top:20px;
}
.features{
    gap: 10;
    padding: 10px;
}
.hero .hero-content {
    padding-top: 20px;
}
#features-2 {
    padding:30px;
    gap: 20px;
 
}
.features-p{
    padding: 0px 10px;
}
.cart-1{
    padding: 20px;
    font-size: 15px;
}
.cart-2{
    flex-direction: column;
    margin:0px;
    padding:20px 20px;
    gap: 40px;
}
.cart{
     width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px; 
    gap: 10px;
    font-family:libra ;
    font-size:15px;
    border-radius: 10px;
}
 
 .cartbox2{
    align-self:auto;
}

.cartbox1{
   align-self: auto;
}
.cartbox3{
    align-self: auto;
}




}







                        /* this media qurey for the tablate */





@media screen and (min-width:481px) and (max-width:768px) {
    
   .fa-bars{
        display: block;
    }

    header{
        justify-content: space-between;
        padding: 20px 40px;
        width: 100%;
    }
    .navlinks{
        display: none;
    }
  
    .hdr-btn{
        display: block;
        gap: 12px;
        margin: 10px;
    }
        .hero{
            padding: 20px 30px;
        flex-direction: column-reverse;
    }
    .hero .hero-content .hero-h2{
    font-size: 8px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    }
    .hero .hero-img{
        width:90%;
    }
        .hero-h2{
        font-size: 100px;
        } 
    .hero .hero-content .hero-h2{
      font-size:18px;
    }
    .hero .hero-content{
        width: 100%;
        padding: 0%;
    }
     .hero .hero-content .hero-p{
        font-size:20px;
     }
 .features-p{
    font-size:20px;
    text-align: center;
    width: 100%;
    /* padding: 10px; */
    padding-top: 0px 0px;
   }
   .hero-h2{
    font-size:10px;
    text-align: center;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    }
    .rectngle{
        display: none;
    }  
    .hero-btn button{
        padding: 10px 15px;
        font-size: 14px;
         display: flex;
        flex-direction: column;
        gap: 10px; 
    } 
  #features-1{
     width: 100%;
    flex-direction: column-reverse;
  } 

#features-1{
    flex-direction: column-reverse;
    display: flex;
    gap:0px;
}
   #features-2{
    width: 100%;
    flex-direction: column-reverse;
    gap:0;
  }
   #features-3{
    width: 100%;
    flex-direction: column-reverse;
    gap:0%;
  }
#hero2h{
font-size:15px;
}
  .hero-h2{
    font-size:15px;
          
}
.hero-p{
    text-align: center;
    font-size: 30px;
    padding:10px;
}
.hero{
     align-items: center;
     padding-top:20px;
     padding-bottom:10px;
     gap:30px;
}
.hero-btn button{
  align-items: center;
}
.btn-1{
    margin-bottom:20px;
}
.hero-content{
    align-items: center;
     gap:10px;
}
.mainbox{
     gap:10px;
     margin-top:20px;
}
.features{
    gap: 10;
    padding: 0px;
}
#features-2 {
    padding:30px;
    gap: 20px;
 
}
.features-p{
    padding: 0px 10px;
}
.cart-1{
    width: 90%;
    padding: 20px 50px;
    font-size: 15px;
    align-items: center;
    font-family: libra;
}
.cart-2{
    flex-direction: column;
    margin:0px;
    padding:20px 20px;
    gap: 40px;
    align-items: center;
}
.cart{
     width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px; 
    gap: 10px;
    font-family:libra ;
    font-size:15px;
    border-radius: 10px;
}
 
 .cartbox2{
    align-self:auto;
}

.cartbox1{
   align-self: auto;
}
.cartbox3{
    align-self: auto;
}

  
}


                          /* this media qurey for the laptop */



@media screen and (min-width:769px) and (max-width:1279px) {
    
} 


                            /* this is for the large screen */



@media screen and (min-width:1280px) {

}